/* CSS BACK */

/* variables CSS */
:root {
  --light: #fff;
  --dark: #333;
  --red: #DB2437;
  --blue: #24DBC8;
}

/* resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    color: #333;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* messages d'erreur */
.error{
    background-color: var(--red);
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
  }

/* PAGE 404 **********************************************************************************/

.noPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.noPage h2{
   width: 100%;
   text-align: center;
   font-size: 35vw;
}
.noPage svg{
    width: 30%;
    fill: var(--dark);
}
.noPage a.errorReturn{
    border: 1px solid var(--dark);
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.noPage a.errorReturn:hover{
   background-color: var(--dark);
   color: var(--light);
}

/* HEADER *************************************************************************************/

#head{
    background-color: #333; 
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
}

#top-nav{
    width: 100%;
} 

#top-nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-between;
}

#top-nav li{
   margin: 10px 5px;
    width: 45%;
    text-align: center;
}

#head a{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

#head #top-bar{
    width: 100%;
    text-align: center;
    background-color: #24DBC8;
    padding: 20px 0;
    font-size: 1.3rem;
}

#head #top-bar a{
    color:#333;
}

main{
    font-size: 1.4rem;
}

h1{
    font-size: 2rem;
    margin-top:20px ;
}
h1 i{
    color: var(--red);  
}

/* retour à l'accueil */

.backToMenu{    
  margin: 10px 0;
}

.backToMenu a{
    width: 300px;
    border-radius: 10px;
    font-size: 1rem;
}

.backToMenu img{
    width: 25px;
    margin-right: 5px;
    margin-bottom: -7px;
}

/* DASHBOARD ***********************************************************************************/

#dashboard{
    background-color:rgb(196, 196, 196) ;
    min-height: 100vh;
    padding-top: 15px;
}

#sidenav ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;   
}

#sidenav li{
   display: flex;
   width: 45vw;
   height: 45vw;
   background-color: var(--light);
   margin: 10px 0;
   text-align: center;
   border-radius: 10px;
}

#sidenav li img{
    width: 40%;
}

#sidenav li a{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px; 
}

#sidenav li p{
    color: var(--dark);
    text-decoration: none;    
}
p#lesCom{
   word-break: break-all;
   text-align: center;
}

/* PORTFOLIO ET BLOG ************************************************************************/

/* les images */
.myPosts{
    width: 100%;
    margin: 0 auto 50px;
    font-size: 1rem;
}

.myPosts img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
    background-color: rgba(51, 51, 51, 0.129);
}

.myPosts a{
    background-color: var(--red);
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.myPosts p:last-of-type{
    margin-top: 10px;
}

.modifOrDel{
    display: flex;
    justify-content: space-around;
}

.modifOrDel a{
    font-weight: normal;
  
}
.modifOrDel a:first-of-type{
    background-color: var(--blue);
    color: var(--dark);
  
}

.myPosts p:first-of-type{
    font-weight: 800;
}

.myPosts p:last-of-type{
    margin-bottom: 10px;
}

/* formulaire */

.forms form{
    display: flex;
    flex-wrap: wrap;
}

.forms form label{
    margin-top: 15px;
}

.forms form label, #postImage{
    width: 100%;
}

.forms form textarea{
    width: 100%;
    height: 10vh;
}

#modifArticle textarea{
    width: 100%;
    height: 10vh;
}

.forms #mesimages{
    margin: 25px 0;
}

.postForm input{
    margin: 15px 0;
    padding: 15px;
    background-color: #24DBC8;
    border: 1px solid var(--blue);
    border-radius: 40px;
}

input{
    font-size: 1.3rem;
    cursor: pointer;
}

input#photo{
    width: 100%;
    overflow-wrap: break-word;
    margin-top: 10px;
}

#folioFront form{
    display: flex;
    flex-direction: column;
}

#folioFront form .postForm{
   width: 250px;
   align-self:center;
   margin-top: 30px;
}

#folioFront input[type="submit"]:hover{
    background-color: green;
    border-color: green;
    color: var(--light);
}

#folioFront textarea{
    padding: 7px;
    font-size: 1rem;
}

/* PAGE MAILS (+ commentaires + liste utilisateurs) ******************************************/

#mailsPage h1 img,
#adminComments h1 img,
#usersList h1 img{
    width: 60px;
    margin-right: 15px;
    margin-bottom: -15px;
}

#mailsPage h1,
#usersList h1,
#adminComments h1{
    margin-bottom: 30px;
}

#mailsPage .mail,
#usersList .mail,
#adminComments .commentContent{
    background-color: rgba(154, 154, 154, 0.158);
    border-radius: 10px 10px 0 10px;
    padding: 5px;
    margin-top: 15px;
    font-size: 1.2rem;
}

.delete{
   text-align: end;
}

.delete a{
   background-color: var(--red);
   color: var(--light);
   font-size: 1rem;
   padding: 5px;
   border-radius: 0 0 10px 10px;
}

#mailsPage .mail .topMail{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#mailsPage .mail .topMail p:last-of-type{
    font-size: 1rem;
    font-weight: normal;
}

#mailsPage .mail .mailContent{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* PAGE UN MAIL *********************************************************************************/

#mailItem .backBtn{
    margin-top: 15px;
}

#mailItem .backBtn img{
    width: 35px;
    margin-right: 10px;
    margin-bottom: -7px;
}

#mailPage{
    background-color: rgba(154, 154, 154, 0.158);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

#mailPage h1{
    margin-top: 0;
}

#mailPage p{
    margin: 10px 0;
    font-size: 1.2rem;
}

#mailPage img{
    width: 10%;
    margin-right: 10px;
    margin-bottom: -3px;
}

#mailPage .oneMail a{
    background-color: var(--red);
    color: var(--light);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 1rem;    
}

#mailPage .oneMail a:first-of-type{
    background-color: var(--dark);
    color: var(--light);     
}

#mailPage .oneMail .modifOrDel{
    margin-top: 10px;
}

/* INFOS USER ********************************************************************************/

#usersList .mail .idUser{
    font-weight: 600;
}

/* INFOS ADMIN *******************************************************************************/

#infosAdmin p{
    margin: 10px 0;
}

/* CONNEXION ADMIN ***************************************************************************/

#connectAdmin h1,
#connectAdmin h2{
    text-align: center;
}

#connectAdmin .formAdmin{
    width: 320px;
    background-color: rgb(220, 220, 220);
    padding: 15px 10px;
    margin: 20px auto;
}

#connectAdmin .formAdmin label,
#connectAdmin .formAdmin input{
    width: 300px;
    margin: 5px 0;
}

#connectAdmin .formAdmin input{
    height: 50px;
}

#connectAdmin .formAdmin input[type="text"],
#connectAdmin .formAdmin input[type="password"]{
    padding-left: 10px;
}

#connectAdmin form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#connectAdmin .formAdmin input[type="submit"]{
    background-color: var(--light);
    border: 1px solid rgb(118,118,118);
    margin: 15px 0;
    border-radius: 40px;
    width: 200px;
    align-self: center;
}

#connectAdmin .formAdmin input[type="submit"]:hover{
    color: var(--light);
    background-color: var(--dark);
}

#connectAdmin .formAdmin img{
    width: 30px;
    margin-bottom: -6px;
}

/************************************************************************************/
/*************************      MEDIA QUERIES      **********************************/
/************************************************************************************/

/* MIN 768px POUR TABLETTES *******************************************************************/

@media all and (min-width:768px)
{
    /* DASHBOARD ******************************************************************************/

    #sidenav ul{
    justify-content: space-around;
    }

    #sidenav li{
        width: 30vw;
        height: 30vw;
        margin: 30px 20px;    
    }

    /* PORTFOLIO ******************************************************************************/

    .forms form{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    /* COMMENTS *******************************************************************************/
    #mailsPage .fullMail,
    #adminComments .userComments{
        width: 80%;
        margin: 15px auto;
      }

}

  
/* MIN 992px POUR DESKTOP */
@media all and (min-width:992px)
{
    /* DASHBOARD *****************************************************************************/

    #sidenav li{
        width: 20vw;
        height: 20vw;
    }

    /* PAGE 404 ******************************************************************************/
 
    .noPage h2{
        text-align: center;
        font-size: 25vw;
    }

    .noPage svg{
        width: 20%;
        fill: var(--dark);
    }

    /* LISTE DES UTILISATEURS ****************************************************************/

    #usersList .flexList,
    #adminComments .flexList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #usersList .fullMail,
    #adminComments .userComments{
        width: 48%;
        margin-bottom: 15px;
    }
}