/* CSS BACK */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    color: #333;
}

/* variables CSS */
:root {
  --light: #fff;
  --dark: #333;
  --red: #DB2437;
  --blue: #24DBC8;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

li{
    list-style-type: none;
}

/* HEADER */

#head{
    background-color: #333; 
    display: flex;
    flex-wrap: wrap;
    align-items:center ;

}
#top-nav{
    width: 100%;
} 
#top-nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-between;
}


#top-nav li{
   margin: 10px 5px;
    width: 45%;
    text-align: center;
}

#head a{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

#head #top-bar{
    width: 100%;
    text-align: center;
    background-color: #24DBC8;
   
    padding: 10px;
    font-size: 1.3rem;
}
#head #top-bar a{
    color:#333;
}

main{
    font-size: 1.4rem;
}

h1{
    font-size: 2rem;
    margin-top:20px ;
}
h1 i{
    color: var(--red);  
}

/* SIDENAV */

#sidenav{
    background-color: #333;

}
#sidenav h1{
    background-color: #fff;
    padding: 10px;
}
#sidenav ul{
    padding: 0 10px;
}
#sidenav li{
    margin: 10px 0;
    text-align: center;
}

#sidenav li a{
    color: #fff;
    text-decoration: none;
    
}

/* PORTFOLIO ET BLOG */

/* les images */
.myPosts{
    width: 100%;
    margin: 0 auto 50px;
    font-size: 1rem;
}
.myPosts img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
    background-color: rgba(51, 51, 51, 0.129);
}
.myPosts a{
    background-color: var(--red);
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.myPosts .modifOrDel{
    display: flex;
    justify-content: space-around;
}

.myPosts .modifOrDel a{
    font-weight: normal;
  
}
.myPosts .modifOrDel a:first-of-type{
    background-color: var(--blue);
    color: var(--dark);
  
}

.myPosts p:first-of-type{
    font-weight: 800;
}
.myPosts p:last-of-type{
    margin-bottom: 10px;
}

/* le formulaire */

.forms form{
    display: flex;
    flex-wrap: wrap;
}
.forms form label{
    margin-top: 15px;
}
.forms form label, #postImage{
    width: 100%;
}
.forms form textarea{
    width: 100%;
    height: 10vh;
}
.forms #mesimages{
    margin: 25px 0;
}
.postForm{
    margin: 10px 0;
    width: 100%;
}
.postForm input{
    padding: 15px;
    background-color: #24DBC8;
    border: 1px solid var(--blue);
}
input{
    font-size: 1.3rem;
    cursor: pointer;
}
input#photo{
    width: 100%;
    overflow-wrap: break-word;
}
input#file-upload-button{
    width: 100%!important;
}

