/* CSS FRONT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    color: #333;
    scroll-behavior: smooth;
}

/* variables CSS */
:root {
  --light: #fff;
  --dark: #333;
  --red: #DB2437;
  --blue: #24DBC8;
}



main{
  padding: 20px 0;
}

a{
  text-decoration: none;
  list-style-type: none;
}

h1{
  font-size: 1.5rem;
    margin-bottom: 20px;  
}
h2{
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.error{
  background-color: var(--red);
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1.2rem;
}

/* MENU BURGER *****************************************************************************************/ 
#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    position: relative;
    z-index:2;
  }

/* création et animation du menu burger */
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: var(--dark);
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  
  /* croix de fermeture du menu */
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background-color: var(--light);
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background-color: var(--light);
  }
  #burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #menu{
    z-index:1;
    min-width:100%;
    height: 100vh;
    position: absolute;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;    
  }
  
  #menu.overlay{
    visibility: visible;
    opacity: 1;
    height: 115%;
    padding-top:100px;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
  }
  
  #menu a{
    color: var(--light);
    display:block;
    font-size: 32px;
    margin-bottom:30px;
  }

/* HEADER **************************************************/
  header{
  display: flex;
  flex-wrap: wrap;
  }
  .bloc-top{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    width: 100%;
  }
  .bloc-top svg{
    width: 40px;
    fill: var(--dark);
  }
  .bloc-top .top-name p{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: end;
    line-height: 30px;
  }
  .bloc-top #menu img{
    width: 35px;
    margin-right: 15px;
    margin-bottom: -7px;
  }
  .bandeau {
    margin: 0 auto;
    width: 100%;
  }
  .bandeau img{
    width: 100%;
  }

 
/* FOOTER *************************************************/
  footer{
    background-color: var(--dark);
    padding: 30px 0;
  }
  .social{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }  
  .social p i{
    color: var(--light);
    font-size: 1.5rem;
  }
  .legal{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
  .legal a{
    color: var(--light);
  }
  .legal span{
    color: var(--blue);
    margin: 0 10px;
  }
 #copy{
    color: var(--light);
    font-size: 0.6rem;
    text-align: center;
  }
  
/* PAGE HOME *******************************************/
#homepage{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#homepage h2{
 margin-bottom: 0;
}
/* fleches */
#homepage i{
  color: var(--red);
  margin-right: 10px;
}
#homepage #home-news{
  margin-bottom: 15px;
}

#homepage #home-news{
  display: flex;
  flex-direction: column;
}
#homepage #home-news .seeMore:hover{
  background-color: var(--dark);
  color: var(--light);
}
#homepage #home-news .seeMore,
#homepage .myArticle a{
  align-self: center;
  border: 1px solid var(--dark);
  border-radius: 40px;
  padding: 10px;
  width: 150px;
  text-align: center;
  margin: 20px 0;
}

#homepage .myArticle{
  display: flex;
  flex-direction: column;
}
#homepage .myArticle .category{
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#homepage .myArticle a:hover{
  color: var(--light);
  background-color: var(--dark);

}

/* les derniers articles de blog */


#home-article{
  width: 100%;
  /* border: 10px solid yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#home-blog .txt-article {
  /* border: 2px solid red; */
  width: 100%;
  height: 30vh;
  overflow:hidden;
}

#home-blog .txt-article .btn{
  width: 50%;
}



#home-blog #home-article img{
  width: 100%;
}

/* PAGE CONTACT *********************************************/

.formulaire{
  display: flex;
  flex-direction: column;
}
.formulaire form{
  margin-top: 20px;
}
.formulaire input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.formulaire textarea{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.formulaire .needarea{
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 3px;
}
.formulaire span{
  color: var(--red);
  font-weight:700;
  font-size:1.2rem;
}
input[type=submit]{
  background-color: var(--dark);
  color: #fff;
  border: 1px solid var(--dark);
  cursor: pointer;
}
/* carte */
#geomap{
  width: 100%;
  height: 400px;
  margin: 20px auto 0;
}
.contact h2{
  margin: 20px 0;
}


/* PAGE ABOUT **********************************************/
#aboutPage{
  display: flex;
  flex-wrap: wrap;
}
.me span{
  color:var(--red);
}
.me p{
  margin: 20px 0;
}
.mepic img{
  width: 100%;
  margin-top: 10px;
}

/* PAGE CGV */
.cgv p{
 margin: 20px 0;
}

/* PORTFOLIO ************************************************/

.forms{
  width: 95%;
  margin: 0 auto;
}
.forms a{
  color: rgb(0, 153, 181);
  font-weight: 800;
}

.forms p{
  font-size: 1.2rem;
}

.theGallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.picPortfolio{  
  margin: 30px auto 15px;
}

.picPortfolio img{
  width: 100%;
}

/* LIGHTBOX *********************************************************/

.lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.936);
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity .3s;
}
.lightbox.fadeout{
  opacity: 0;
}

.lightbox__next{
  background: url(/app/public/Front/image/nextarrow.png) center center / 100% 100%;
  right: 0;
}
.lightbox__prev{
  background: url(/app/public/Front/image/previousarrow.png) center center / 100% 100%;
  left: 0;
}
.arrow{
  border: none;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  margin-top: -14px;
  z-index: 11;
  opacity: 0.5;
  text-indent: -3000px;
  cursor: pointer;
  transition: 0.3s;
}
.arrow:hover{
  opacity: 1;
}

.lightbox__close{
  width: 20px;
  height: 20px;
  border: none;
  background: url(/app/public/Front/image/close-cross.png) center center / 100% 100% transparent;
  position: fixed;
  text-indent: 3000px;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  z-index: 12;
}
.lightbox__close:hover{
  opacity: 1;
}
.lightbox__container img{
  width: 100%;
  height: 100vh;
  object-fit: contain;
  animation: lightboxIn 0.5s;

}

.lightbox__container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.lightbox__loader{
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(/app/public/Front/image/loader.svg) center center no-repeat;
}

@keyframes lightboxIn{
  from {opacity: 0;}
  to {opacity: 1;}
}



/* BLOG *********************************************************/
.forms .createdAt, 
.forms .category{
  font-size: 0.8rem;
}
.forms .createdAt{
  margin-top: 10px;
}
.forms .content{
  margin-top: 10px;
}
.myArticle{
  margin-top: 30px;
}
.myArticle h1{
  margin-bottom: 5px;
}
.myArticle h3{
  font-size: 1.2rem;
}
.myArticle p{
  width: 100%;
}

.myArticle img{
  width: 100%;
  margin: 10px 0; 
}
.myArticle{
  display: flex;
  flex-wrap: wrap;
}

.myArticle .btn{
  border: 0;
  border-radius: 40px;
  background-color: var(--blue);
  width: 160px;
  padding: 10px;
  margin: 10px auto 0;
}
.myArticle .btn:hover{
  background-color: rgb(1, 137, 179);
  color: var(--light);
}
.myArticle .btn a{
  color: var(--light);
  font-size: 1.2rem;
  font-weight: normal;
}

/* un article de blog */

#oneArticlePage .myArticle h1{
  font-size: 2rem;
}
#oneArticlePage .myArticle .articleContent{
  margin-top: 20px;
}

#oneArticlePage .backBtn{
  margin-top: -5px;
}
#oneArticlePage .backBtn img{
  width: 35px;
  margin-right: 10px;
  margin-bottom: -7px;
}

/* section commentaires */
#oneArticlePage #content{
  background-color:rgb(223, 223, 223);
  font-size: 1.2rem;
  padding: 5px;
  border: 0;
  margin-bottom: 0;
}

#oneArticlePage h2{
  margin: 20px 0 5px;
}
#oneArticlePage #infoCom{
  font-size: 0.8rem;
}
#oneArticlePage section{
  margin: 20px 0 10px;
}
#oneArticlePage .oneComment{
  background-color: rgb(223, 223, 223);
  margin: 15px 0;
  padding: 10px;
}
#oneArticlePage .oneComment img{
  width: 15px;
}
#oneArticlePage .oneComment p{
  margin: 5px 0;
}
#oneArticlePage .oneComment #comDate{
  font-size: 0.8rem;
}
#oneArticlePage .oneComment #comCom span{
  margin: 0 10px;
}


/* CONNEXION USER ***********************************************/
.userAccount h1{
  margin-bottom: 10px;
}
.userAccount .userConnexion form, .userRegistration, .userAccount form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.userAccount label{
  width:100%;
  margin-top: 10px;
}
.userAccount input{
  width: 100%;
  height: 50px;
  font-size: 1rem;
}
.userAccount span{
  color: var(--red);
  font-weight: 700;
  font-size: 1.2rem;
}

.userAccount .needarea{
  font-size: 0.8rem;
  margin-top: 10px;
}

.userAccount input[type=submit]{
  width: 240px;
  margin: 25px 0;
  font-size: 1.2rem;
  border-radius: 40px;
  align-self: center;
}

.userAccount .userRegistration button{
  width: 240px;
  height: 50px;
  font-size: 1.2rem;
  border: 0;
  border-radius: 40px;
  background-color: var(--dark);
  align-self: center;
  
}

.userAccount .userRegistration a{
  color: var(--light);
  font-weight: normal;
}

/* DASHBOARD USER ***************************/
#dashboardUser .userComments{
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 10px 0 0 10px;
}
#dashboardUser .userComments strong{
  font-weight: 800;
}
#dashboardUser .userComments span{
  font-style: italic;
}
#dashboardUser .userComments .deleteComment{
  /* border: 1px solid var(--red); */
  border-radius: 10px 0 0 0;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  align-self: flex-end;
  background-color: var(--light);
}


#dashboardUser .userComments .deleteComment img{
  width: 20px;
  margin-right: 10px;
  margin-bottom: -3px;
}

/**************          MEDIA QUERIES             *****************************/

/* min 768px for TABLETS */
@media all and (min-width:768px){

  /* PORTFOLIO PAGE ********************************/
  .theGallery .picPortfolio{
    width: 46vw;
    height: 46vw;
  }
  .theGallery .picPortfolio p{
    font-size: 1rem
  }
  .theGallery .picPortfolio img{
    width: 100%;
    height: 95%;   
    object-fit: cover;
  }

  /* HOMEPAGE GALLERY */
  #homepage .theGallery .picPortfolio{
      width: 80%;
      height: auto;
  }

  /* LIGHTBOX PAGE ********************************/
  .lightbox__container{
    margin-left: 50px;
    margin-right: 50px;
  }
  /* flèche retour haut de page */
  #back-up a{
    
    font-size: 3rem;
    position: fixed;
    bottom: 10px;
    right: 20px;
  }
  #back-up a .toparrow{
    color: #24dbc979;
  }
  #back-up a .toparrow:hover{
    color: var(--blue);
  }
}
/* min 992px for DESKTOPS */
@media all and (min-width:992px){

  /* ABOUT PAGE ******************************/
  
  #aboutPage{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  #aboutPage .me{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5rem;
  }  
  #aboutPage .mepic{
    width: 48%;
  }

  /* PORTFOLIO PAGE ***************************/
  .theGallery .picPortfolio{
    width: 30vw;
    height: 30vw;
  }

  /* HOMEPAGE GALLERY */
   #homepage .theGallery .picPortfolio{
    width: 30%;
    height: auto;
  }

  /* BLOG & HOMEPAGE ********************************/
  
  .myArticle{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
    padding:15px;
  }
  
  .myArticle h3{
    font-size: 1.8rem;
  }

 .myArticle .createdAt{
    text-align: center;
    margin: 0 0 15px
  }
 .myArticle img{
    width: 30%;
    height: 15vw;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .myArticle p:last-of-type{
    width: 48%;
    padding-left: 20px;
    line-height: 2rem;
  }
  
  .myArticle .content,
  .myArticle .category{
    display: none;
  }
  .myArticle .btn{
    width: 20%;
    margin-right: 0;
  }

  /* home articles only */

  #homepage .myArticle{
    background-color: var(--light);
    width: 100%;
    display: flex;
     flex-direction: row;
    justify-content: space-between;
  }
  #homepage .myArticle h3{
    width: 100%;
    text-align: center;
  }
  #homepage .myArticle img{
   height: 220px;
   border-radius: 0;
  }
  #homepage .myArticle p:last-of-type{
    width: 40%;
    font-size: 1.4rem;
  }
  #homepage hr{
    width: 50%;
    margin: 10px auto;
    height:1px;
    background-color: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  
}
