/* CSS FRONT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    color: #333;
}

/* variables CSS */
:root {
  --light: #fff;
  --dark: #333;
  --red: #DB2437;
  --blue: #24DBC8;
}


main{
  padding: 20px 0;
}

a{
  text-decoration: none;
  list-style-type: none;
}

h1{
  font-size: 1.5rem;
    margin-bottom: 20px;  
}
h2{
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.container{
  width: 90%;
  margin: 0 auto;
}

  /* menu burger */
#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    position: relative;
    z-index:2;
  }
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: var(--dark);
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;    
  }
  
  #menu.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
  }
  
  #menu a{
    color: var(--light);
    display:block;
    font-size: 32px;
    margin-bottom:30px;
  }

/* HEADER */
  header{
  display: flex;
  flex-wrap: wrap;
  }
  .bloc-top{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    width: 100%;
  }
  .bloc-top svg{
    width: 40px;
    fill: var(--dark);
  }
  .bloc-top .top-name p{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: end;
    line-height: 30px;
  }
  .bloc-top #menu img{
    width: 35px;
    margin-right: 15px;
    margin-bottom: -7px;
  }
  .bandeau {
    margin: 0 auto;
    width: 100%;
  }
  .bandeau img{
    width: 100%;
  }

  /* boite modale */
  #modid{    
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1000;
  }
  #modid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background-color: var(--dark);
    text-align: center;
    padding: 15px 0 5px;
  }
  #modid p, #modid a{
    color: var(--light);
    margin-bottom: 10px;
  }
  #modid p:last-of-type{
    margin-bottom: 40px;
  }
  #modid img{
    width: 15px;
    margin-left: 5px;
    margin-bottom: -3px;
  }

/* FOOTER */
  footer{
    background-color: var(--dark);
    padding: 30px 0;
  }
  .social{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }  
  .social p i{
    color: var(--light);
    font-size: 1.5rem;
  }
  .legal{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
  .legal a{
    color: var(--light);
  }
  .legal span{
    color: var(--blue);
    margin: 0 10px;
  }
 #copy{
    color: var(--light);
    font-size: 0.6rem;
    text-align: center;
  }

/* PAGE HOME */
.homepage{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* fleches */
.homepage i{
  color: var(--red);
  margin-right: 10px;
}

/* les dernières images */
.homepage .lastpics{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
}
.homepage .lastpics div{
  width: 100%; 
  margin-bottom: 4%;
}
.homepage .lastpics img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* les derniers articles de blog */


#home-article{
  width: 100%;
  /* border: 10px solid yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#home-blog .txt-article {
  /* border: 2px solid red; */
  width: 100%;
  height: 30vh;
  overflow:hidden;
}

#home-blog .txt-article .btn{
  width: 50%;
}



#home-blog #home-article img{
  width: 100%;
}

/* PAGE CONTACT */


.formulaire{
  display: flex;
  flex-direction: column;
}
.formulaire form{
  margin-top: 20px;
}
.formulaire input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.formulaire textarea{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.formulaire .needarea{
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 3px;
}
.formulaire span{
  color: var(--red);
  font-weight:700;
  font-size:1.2rem;
}
input[type=submit]{
  background-color: var(--dark);
  color: #fff;
  border: 1px solid var(--dark);
  cursor: pointer;
}
/* carte */
#geomap{
  width: 100%;
  height: 400px;
  margin: 20px auto 0;
}
.contact h2{
  margin: 20px 0;
}


/* PAGE ABOUT */
.me span{
  color:var(--red);
}
.me p{
  margin: 20px 0;
}
.mepic img{
  width: 100%;
  margin-top: 10px;
}

/* PAGE CGV */
.cgv p{
 margin: 20px 0;
}

/* PORTFOLIO */

.forms{
  width: 95%;
  margin: 0 auto;
}
.forms a{
  color: rgb(0, 153, 181);
  font-weight: 800;
}

.forms p{
  font-size: 1.2rem;
}

#picportfolio{
  margin-top: 30px;
}

#picportfolio img{
  width: 100%;
}

/* BLOG */
#myArticle{
  margin-top: 30px;
}

#myArticle img{
  width: 100%;
 
}

/* CONNEXION USER */
#connexionUser h1{
  margin-bottom: 10px;
}
#connexionUser .userConnexion form, .userRegistration{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#connexionUser label{
  width:100%;
  margin-top: 10px;
}
#connexionUser input{
 width: 100%;
  height: 50px;
}

#connexionUser input{
  font-size: 1.3rem;
 }


#connexionUser input[type=submit]{
  width: 80%;
  margin: 25px 0;
  font-size: 1.2rem;
  border-radius: 40px;
}

#connexionUser .userRegistration button{
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
  border: 0;
  border-radius: 40px;
  background-color: var(--dark);
  
}

#connexionUser .userRegistration a{
  color: var(--light);
  font-weight: normal;
}